.*
!.gitignore
.DS_Store
.idea/*

#*

*~
*.1
*.bak
*.bak2
*.class
*.orig
*.py[co]
*.rej
*.sublime-project
*.sublime-workspace
*.svn
*.swo
*.swp
*.w2p

cron.master
index.yaml
logging.conf
gluon/tests/VERSION
gluon/tests/sql.log
HOWTO-web2py-devel
httpserver.log
httpserver.pid
parameters*.py
routes.py
Thumbs.db

./admin.w2p
./deposit
./benchmark
./build
./dist*
./dummy_tests
./examples.w2p
./gluon/*.1
./gluon/*.txt
./optional_contrib
./ssl
./docs
./logs
./*.zip

databases/*
cache/*
errors/*
progress.log
sessions/*
static/temp
uploads/*

!routes.py
!routes.web2py.py
!README.md
!README.markdown
!LICENSE
!UNLICENSE

